* {margin: 0; padding: 0;}

p {line-height: 160%;}

a {text-decoration: none; color: #000; transition: all 0.1s ease-in;}
img {border: 0;}

.clear {clear: both;}

.memContainer {
  display: flex !important;
  flex-wrap: wrap !important;
}

/* Buttons */
.btn {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 40px;
	color: #000;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 20px;
	outline: 0;
	transition: all 0.1s ease-in;
}

.btn-transparent {background: rgba(0,0,0, 0.2);}
.btn-transparent:hover {background: rgba(0,0,0, 0.4);}

/* Separators */
.separator {
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.2);
	width: 30px;
	height: 5px;
}


/* 03. SPEAKERS SETTINGS ============================================ */

.speakers {
    max-width: 700px;
    margin: 0px auto;

    p {
      padding: 20px 0 60px;
      color: #000;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
    }

    h3 {
      padding: 0 0 15px;
      font-family: 'norwester';
      font-size: 36px;
      text-transform: uppercase;
    }

    h4  {
      margin-top: -20px;
      font-size: 32px;
      font-weight: 700;
    }

    img:hover {
      border: 15px solid #3980C9;
      position: relative;
      z-index: 10;
      border-radius: 50%; 
      transition: all 0.1s ease-in;	
      -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
      -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
      -o-transform: scale(1.1) rotate(1deg) translateY(12px);
      -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
      transform: scale(1.1) rotate(1deg) translateY(12px);
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    img {
      width: 100%;
      max-width: 240px;
      border-radius: 50%; 
      border: 15px solid transparent; 
      box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
      transition: all 0.1s ease-in;
      -webkit-transform: scale(1) rotate(0) translateY(0);
      -moz-transform: scale(1) rotate(0) translateY(0);
      -o-transform: scale(1) rotate(0) translateY(0);
      -ms-transform: scale(1) rotate(0) translateY(0);
      transform: scale(1) rotate(0) translateY(0);
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    h4 span { 
      display: block;
      position: relative;
      /*left: -40px;*/
      top: 10px;
      font-size: 20px;
      background: none;
      padding: 0;
    }

    .applicationSupported {
        font-size: 14px;
        padding: 5px;
        /*left: 34%;*/
        margin-top: 10px;
        color: #3980c9;
        display: inline-block;
        font-size: 11px;  
    }

}

.memberprofile {
  
  /*figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: rgba(230, 78, 62, 0.9);
    
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }*/

  figure:hover figcaption ul li a:hover {
    color: rgba(49, 49, 49, .97);
  }

  figcaption {
    border-radius: 50%;
    padding: 0px;
    color: transparent;
    background-color: transparent;
    position: relative;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  figcaption p {
    font-size: 11px;
    text-align: center;
  }

  figcaption ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  figcaption ul {
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  figcaption ul li {
    display: inline-block;
    padding: 10px;
  }

}

.colMd3{
  //float:left;
  padding: 15px;
}
/* Member Image Hover Effect */
.hoverimg {
  display: none
}

.memberprofile:hover .unhoverimg{
  display: none;
}

.memberprofile:hover .hoverimg {
  display: block;
}

/* Social Networks Meta */
.speakers li {display: inline-block; padding: 0 6px; font-size: 18px;}
.speakers li a {color: rgba(0,0,0, 0.3); transition: all 0.1s ease-in;}
.speakers li a:hover {color: rgba(0,0,0, 0.7);}

/* Rows Optimization */

.row1 .col-md-3 {
  padding-bottom: 40px;
  width: 25%;
}

.meetTheTeam {
  .row {
    padding: 20px;
  }

  .listItem {
    max-width: 715px;
    margin: 5px auto 5px auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: #0078d7;
    border-color: #0078d7;
    color: #ffffff;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: 600;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}